/* ----------------------- External Font ----------------------- */
/* ---------- Media Queries ---------- */
/* ---------- Placeholder Style ---------- */
/* ---------- Center an element (absolute) ---------- */
/* ---------- Center an element (relative) ---------- */
/* ---------- Animation Mixin Setup ---------- */
/* ---------- Gradient ---------- */
/* ----------------------- Rounded ----------------------- */
/* ----------------------- Opacity ----------------------- */
/* ----------------------- Transform ----------------------- */
/* -------------------- Transform Delay -------------------- */
/* -------------------- Animation Delay -------------------- */
/* ----------------------- Rotation ----------------------- */
/* ----------------------- Scale ----------------------- */
/* -------------------- Scale Horizontal -------------------- */
/* ------------------ Transform Origin ------------------ */
/* ----------------------- Transition ----------------------- */
/* ------------------ Transition Specific ------------------ */
/* ----------------------- Pseudo ----------------------- */
/* ----------------------- Filter ----------------------- */
/*
  grayscale      ex: filter: grayscale(100%);
  sepia          ex: filter: sepia(100%);
  saturate       ex: filter: saturate(0%);
  hue-rotate     ex: filter: hue-rotate(45deg);
  invert         ex: filter: invert(100%);
  brightness     ex: filter: brightness(15%);
  contrast       ex: filter: contrast(200%);
  blur           ex: filter: blur(2px);
*/
/* --------------------- Box Shadow --------------------- */
/* --------------------- Text Shadow --------------------- */
/* ----------------------- Extra Mixin ----------------------- */
/* Can remove in another project */
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
html {
  overflow-x: hidden !important; }

body {
  font: 400 16px/22px 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #141414; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:last-child {
  margin-bottom: 0; }

input, textarea {
  outline: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }

button {
  outline: none; }

p {
  font-size: 14px; }
  @media only screen and (min-width: 1280px) {
    p {
      font-size: 16px; } }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

.slick-dotted.slick-slider {
  margin-bottom: 0 !important; }

table {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%; }
  table tr {
    padding: 0;
    margin: 0; }
  table th {
    font-style: normal;
    padding: 0;
    margin: 0; }
  table td {
    padding: 0;
    margin: 0; }

address {
  font-style: normal; }

blockquote {
  margin: 0;
  padding: 0; }

input[type='text'],
textarea {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  height: 32px;
  font-size: 15px;
  line-height: 32px;
  padding: 0 8px;
  margin: 0;
  width: 100%;
  background: transparent; }

textarea {
  height: 72px;
  padding-top: 8px; }

input[type='submit'] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: #ffffff; }
  a:hover {
    text-decoration: none;
    color: #ffffff; }

p {
  margin: 0 0 8px 0;
  padding: 0; }
  p.is-small {
    font-size: 12px;
    line-height: 14px; }
  p.is-medium {
    font-size: 14px;
    line-height: 18px; }
  p.is-large {
    font-size: 20px;
    line-height: 26px; }

.clearfix, .dd-s-section .dd-b-container, .dd-b-container {
  *zoom: 1; }
  .clearfix:before, .dd-s-section .dd-b-container:before, .dd-b-container:before, .clearfix:after, .dd-s-section .dd-b-container:after, .dd-b-container:after {
    content: " ";
    display: table; }
  .clearfix:after, .dd-s-section .dd-b-container:after, .dd-b-container:after {
    clear: both; }

.dd-row-fluid {
  *zoom: 1; }
  .dd-row-fluid:before {
    content: "";
    display: table; }
  .dd-row-fluid:after {
    content: "";
    display: table;
    clear: both; }
  .dd-row-fluid [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
    .dd-row-fluid [class*="span-"]:first-child {
      margin-left: 0 !important; }
  .dd-row-fluid .no-gutter {
    margin-left: 0 !important; }
  .dd-row-fluid .pull-right {
    float: right; }
  .dd-row-fluid .span-1 {
    width: 100%; }
  .dd-row-fluid .span-2 {
    width: 100%; }
  .dd-row-fluid .span-3 {
    width: 100%; }
  .dd-row-fluid .span-4 {
    width: 100%; }
  .dd-row-fluid .span-5 {
    width: 100%; }
  .dd-row-fluid .span-6 {
    width: 100%; }
  .dd-row-fluid .span-7 {
    width: 100%; }
  .dd-row-fluid .span-8 {
    width: 100%; }
  .dd-row-fluid .span-9 {
    width: 100%; }
  .dd-row-fluid .span-10 {
    width: 100%; }
  .dd-row-fluid .span-11 {
    width: 100%; }
  .dd-row-fluid .span-12 {
    width: 100%; }
  @media only screen and (min-width: 768px) {
    .dd-row-fluid .span-1 {
      width: 6.3802083333%; }
    .dd-row-fluid [class*="span-"].offset-1 {
      margin-left: 8.4635416667% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-1 {
      margin-right: 8.4635416667% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-2 {
      width: 14.84375%; }
    .dd-row-fluid [class*="span-"].offset-2 {
      margin-left: 16.9270833333% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-2 {
      margin-right: 16.9270833333% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-3 {
      width: 23.3072916667%; }
    .dd-row-fluid [class*="span-"].offset-3 {
      margin-left: 25.390625% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-3 {
      margin-right: 25.390625% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-4 {
      width: 31.7708333333%; }
    .dd-row-fluid [class*="span-"].offset-4 {
      margin-left: 33.8541666667% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-4 {
      margin-right: 33.8541666667% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-5 {
      width: 40.234375%; }
    .dd-row-fluid [class*="span-"].offset-5 {
      margin-left: 42.3177083333% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-5 {
      margin-right: 42.3177083333% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-6 {
      width: 48.6979166667%; }
    .dd-row-fluid [class*="span-"].offset-6 {
      margin-left: 50.78125% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-6 {
      margin-right: 50.78125% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-7 {
      width: 57.1614583333%; }
    .dd-row-fluid [class*="span-"].offset-7 {
      margin-left: 59.2447916667% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-7 {
      margin-right: 59.2447916667% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-8 {
      width: 65.625%; }
    .dd-row-fluid [class*="span-"].offset-8 {
      margin-left: 67.7083333333% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-8 {
      margin-right: 67.7083333333% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-9 {
      width: 74.0885416667%; }
    .dd-row-fluid [class*="span-"].offset-9 {
      margin-left: 76.171875% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-9 {
      margin-right: 76.171875% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-10 {
      width: 82.5520833333%; }
    .dd-row-fluid [class*="span-"].offset-10 {
      margin-left: 84.6354166667% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-10 {
      margin-right: 84.6354166667% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-11 {
      width: 91.015625%; }
    .dd-row-fluid [class*="span-"].offset-11 {
      margin-left: 93.0989583333% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-11 {
      margin-right: 93.0989583333% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-12 {
      width: 99.4791666667%; }
    .dd-row-fluid [class*="span-"].offset-12 {
      margin-left: 101.5625% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-12 {
      margin-right: 101.5625% !important;
      margin-left: 0 !important; }
    .dd-row-fluid [class*="span-"],
    .dd-row-fluid [class*="span-"].has-gutter {
      margin-left: 2.0833333333%; } }
  @media only screen and (min-width: 1280px) {
    .dd-row-fluid .span-1 {
      width: 6.5533980583%; }
    .dd-row-fluid .offset-1 {
      margin-left: 8.4951456311% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-1 {
      margin-right: 8.4951456311% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-2 {
      width: 15.0485436893%; }
    .dd-row-fluid .offset-2 {
      margin-left: 16.9902912621% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-2 {
      margin-right: 16.9902912621% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-3 {
      width: 23.5436893204%; }
    .dd-row-fluid .offset-3 {
      margin-left: 25.4854368932% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-3 {
      margin-right: 25.4854368932% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-4 {
      width: 32.0388349515%; }
    .dd-row-fluid .offset-4 {
      margin-left: 33.9805825243% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-4 {
      margin-right: 33.9805825243% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-5 {
      width: 40.5339805825%; }
    .dd-row-fluid .offset-5 {
      margin-left: 42.4757281553% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-5 {
      margin-right: 42.4757281553% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-6 {
      width: 49.0291262136%; }
    .dd-row-fluid .offset-6 {
      margin-left: 50.9708737864% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-6 {
      margin-right: 50.9708737864% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-7 {
      width: 57.5242718447%; }
    .dd-row-fluid .offset-7 {
      margin-left: 59.4660194175% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-7 {
      margin-right: 59.4660194175% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-8 {
      width: 66.0194174757%; }
    .dd-row-fluid .offset-8 {
      margin-left: 67.9611650485% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-8 {
      margin-right: 67.9611650485% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-9 {
      width: 74.5145631068%; }
    .dd-row-fluid .offset-9 {
      margin-left: 76.4563106796% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-9 {
      margin-right: 76.4563106796% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-10 {
      width: 83.0097087379%; }
    .dd-row-fluid .offset-10 {
      margin-left: 84.9514563107% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-10 {
      margin-right: 84.9514563107% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-11 {
      width: 91.5048543689%; }
    .dd-row-fluid .offset-11 {
      margin-left: 93.4466019417% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-11 {
      margin-right: 93.4466019417% !important;
      margin-left: 0 !important; }
    .dd-row-fluid .span-12 {
      width: 100%; }
    .dd-row-fluid .offset-12 {
      margin-left: 101.9417475728% !important; }
    .dd-row-fluid [class*="span-"].pull-right.offset-12 {
      margin-right: 101.9417475728% !important;
      margin-left: 0 !important; }
    .dd-row-fluid [class*="span-"],
    .dd-row-fluid [class*="span-"].has-gutter {
      margin-left: 1.9417475728%; } }

.mobile-hide {
  display: none !important; }

#fullpage .section {
  height: auto !important; }

@media only screen and (min-width: 768px) {
  .mobile-hide {
    display: inherit !important; }

  .tablet-hide {
    display: none !important; } }
@media only screen and (min-width: 1280px) {
  .mobile-hide {
    display: inherit !important; }

  .tablet-hide {
    display: inherit !important; }

  .desktop-hide {
    display: none !important; } }
.dd-s-section {
  padding-top: 40px;
  padding-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .dd-s-section {
      padding-top: 64px;
      padding-bottom: 64px; } }
  @media only screen and (min-width: 1280px) {
    .dd-s-section {
      padding-top: 80px;
      padding-bottom: 80px; } }
  .dd-s-section .dd-b-container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px; }
    @media only screen and (min-width: 768px) {
      .dd-s-section .dd-b-container {
        padding-left: 32px;
        padding-right: 32px; } }
    @media only screen and (min-width: 1280px) {
      .dd-s-section .dd-b-container {
        max-width: 1280px;
        padding-left: 50px;
        padding-right: 50px;
        margin: 0 auto; } }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  padding: 0;
  font-weight: 600; }

h1 {
  font-size: 32px;
  line-height: 36px; }

h2 {
  font-size: 28px;
  line-height: 34px; }

h3 {
  font-size: 22px;
  line-height: 26px; }

h4, h5, h6 {
  font-size: 20px;
  line-height: 24px; }

.dd-sub-heading {
  font-size: 20px;
  line-height: 24px; }

blockquote {
  font-size: 20px;
  line-height: 24px; }

.dd-btn {
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 8px 16px;
  border: none;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  line-height: 24px; }
  .dd-btn.is-small {
    font-size: 14px;
    line-height: 22px; }
  .dd-btn.is-large {
    font-size: 20px;
    line-height: 30px; }

button {
  width: 100%; }

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px; }

  h1 {
    font-size: 40px;
    line-height: 44px; }

  h2 {
    font-size: 32px;
    line-height: 36px; }

  h3 {
    font-size: 24px;
    line-height: 28px; }

  .dd-btn {
    display: inline-block;
    min-width: 300px; }

  button {
    width: auto; } }
@media only screen and (min-width: 1280px) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px; }

  h1 {
    font-size: 48px;
    line-height: 50px; }

  h2 {
    font-size: 36px;
    line-height: 40px; }

  h3 {
    font-size: 28px;
    line-height: 32px; }

  .dd-btn {
    min-width: 422px; }

  button {
    min-width: 422px; }

  blockquote {
    font-size: 24px;
    line-height: 28px; } }
/* ----------------------- External Font ----------------------- */
/* ---------- Media Queries ---------- */
/* ---------- Placeholder Style ---------- */
/* ---------- Center an element (absolute) ---------- */
/* ---------- Center an element (relative) ---------- */
/* ---------- Animation Mixin Setup ---------- */
/* ---------- Gradient ---------- */
/* ----------------------- Rounded ----------------------- */
/* ----------------------- Opacity ----------------------- */
/* ----------------------- Transform ----------------------- */
/* -------------------- Transform Delay -------------------- */
/* -------------------- Animation Delay -------------------- */
/* ----------------------- Rotation ----------------------- */
/* ----------------------- Scale ----------------------- */
/* -------------------- Scale Horizontal -------------------- */
/* ------------------ Transform Origin ------------------ */
/* ----------------------- Transition ----------------------- */
/* ------------------ Transition Specific ------------------ */
/* ----------------------- Pseudo ----------------------- */
/* ----------------------- Filter ----------------------- */
/*
  grayscale      ex: filter: grayscale(100%);
  sepia          ex: filter: sepia(100%);
  saturate       ex: filter: saturate(0%);
  hue-rotate     ex: filter: hue-rotate(45deg);
  invert         ex: filter: invert(100%);
  brightness     ex: filter: brightness(15%);
  contrast       ex: filter: contrast(200%);
  blur           ex: filter: blur(2px);
*/
/* --------------------- Box Shadow --------------------- */
/* --------------------- Text Shadow --------------------- */
/* ----------------------- Extra Mixin ----------------------- */
/* Can remove in another project */
.section {
  max-height: 100vh;
  width: 100%;
  overflow: hidden; }

#fullpage .dd-full-video {
  height: 100vh !important;
  position: relative; }
  #fullpage .dd-full-video:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); }

.dd-full-video {
  width: 100%;
  height: 100vh !important;
  position: relative; }
  .dd-full-video video {
    width: 100%;
    height: 100vh;
    object-fit: cover; }
  .dd-full-video h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .dd-full-video h1 img {
      height: 150px;
      width: auto; }
  .dd-full-video a {
    display: inline-block;
    position: absolute;
    bottom: 32px;
    left: 50%;
    z-index: 1;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
    .dd-full-video a span {
      padding-top: 50px;
      position: relative; }
      .dd-full-video a span:before {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background: url(../images/right-arrow.svg);
        background-size: 40px 40px;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0) rotate(90deg);
        -moz-transform: translate(-50%, 0) rotate(90deg);
        -o-transform: translate(-50%, 0) rotate(90deg);
        -ms-transform: translate(-50%, 0) rotate(90deg);
        transform: translate(-50%, 0) rotate(90deg); }

.dd-b-container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }
  @media only screen and (min-width: 768px) {
    .dd-b-container {
      padding-left: 32px;
      padding-right: 32px; } }
  @media only screen and (min-width: 1280px) {
    .dd-b-container {
      max-width: 1280px;
      margin: 0 auto; } }

footer {
  padding-top: 10px;
  height: 90px;
  text-align: center;
  background-color: #000000; }
  @media only screen and (min-width: 768px) {
    footer {
      text-align: left;
      line-height: 90px;
      padding-top: 0; } }
  footer .footer-inner {
    padding: 0 15px; }
    @media only screen and (min-width: 768px) {
      footer .footer-inner {
        padding: 0 50px; } }
    footer .footer-inner ul {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px; }
      @media only screen and (min-width: 768px) {
        footer .footer-inner ul {
          justify-content: flex-end;
          height: 90px; } }
      footer .footer-inner ul li {
        display: inline-block;
        height: 40px;
        width: 40px;
        position: relative;
        margin-right: 15px; }
        footer .footer-inner ul li:last-child {
          margin-right: 0; }
        footer .footer-inner ul li a {
          display: inline-block;
          color: #ffffff;
          width: 40px;
          height: 40px;
          font-size: 16px;
          position: absolute;
          top: 0;
          left: 0;
          border: 2px solid #ffffff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          footer .footer-inner ul li a i {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
          footer .footer-inner ul li a:hover {
            color: #9f9f9f;
            border: 2px solid #9f9f9f;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }

.dd-s-contact {
  padding: 60px 0 30px;
  background-color: #1c1c1c; }
  @media only screen and (min-width: 768px) {
    .dd-s-contact {
      padding: 60px 0; } }
  .dd-s-contact h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px; }
    @media only screen and (min-width: 1280px) {
      .dd-s-contact h3 {
        font-size: 24px;
        margin-top: 0; } }
  .dd-s-contact h5 {
    margin-bottom: 10px;
    line-height: 1.5em;
    font-size: 14px; }
    @media only screen and (min-width: 768px) {
      .dd-s-contact h5 {
        margin-bottom: 30px;
        font-size: 16px; } }
    @media only screen and (min-width: 1280px) {
      .dd-s-contact h5 {
        font-size: 20px;
        margin-bottom: 35px; } }
  .dd-s-contact p {
    margin-bottom: 10px; }
  .dd-s-contact .dd-btn-download {
    display: inline-block;
    background-color: #ed1f2d;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .dd-s-contact .dd-btn-download:hover {
      background-color: #d1232f;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    @media only screen and (min-width: 768px) {
      .dd-s-contact .dd-btn-download {
        padding: 20px 25px;
        font-size: 16px;
        margin-bottom: 0; } }
  .dd-s-contact .dd-b-contact .dd-contact {
    display: block;
    clear: both;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .dd-s-contact .dd-b-contact .dd-contact {
        margin-right: 90px;
        display: inline-block;
        width: auto;
        padding-top: 20px; } }
    .dd-s-contact .dd-b-contact .dd-contact h3 {
      margin-bottom: 10px; }
    .dd-s-contact .dd-b-contact .dd-contact:last-child {
      margin-right: 0; }
  .dd-s-contact .span-6 {
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .dd-s-contact .span-6 {
        margin-bottom: 0; } }
