@import "variables";
@import "mixins";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";

html{
  overflow-x: hidden !important;
}
body {
  font: 400 16px/22px 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: $default;
  background-color: #141414;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:last-child {
  margin-bottom: 0;
}

input, textarea {
  @include placeholder(rgba($default,0.5));
  outline: none;
}

button {
  outline: none;
}
p{
  font-size: 14px;
  @include mq('desktop'){
    font-size: 16px;
  }
}
h3{
  font-size: 24px;
}
h4{
  font-size: 20px;
}
.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

table {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  tr {
    padding: 0;
    margin: 0;
  }
  th {
    font-style: normal;
    padding: 0;
    margin: 0;
  }
  td {
    padding: 0;
    margin: 0;
  }
}

address {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
}

input[type='text'],
textarea {
  outline: none;
  @include transition(0.3s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include rounded(0);
  border: none;
  border-bottom: 1px solid $default;
  height: 32px;
  font-size: 15px;
  line-height: 32px;
  padding: 0 8px;
  margin: 0;
  width: 100%;
  background: transparent;
  &.has-value {
  }

}
textarea {
  height: 72px;
  padding-top: 8px;
}

input[type='submit'] {
  @include transition(0.3s);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: $default;
  &:hover {
    text-decoration: none;
    color: $default;
  }
}

p {
  margin: 0 0 8px 0;
  padding: 0;
  &.is-small {
    font-size: 12px;
    line-height: 14px;
  }
  &.is-medium {
    font-size: 14px;
    line-height: 18px;
  }
  &.is-large {
    font-size: 20px;
    line-height: 26px;
  }
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.dd-row-fluid {
  *zoom: 1;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    &:first-child {
      margin-left: 0 !important;
    }
  }
  .no-gutter {
    margin-left: 0 !important;
  }
  .pull-right{
    float: right;
  }
  @for $i from 1 through 12 {
    .span-#{$i} {
      width: 100%;
    }
  }

  @include mq('tablet') {
    $default-gutter-px: 16;
    $default-screen-px: 768;
    $default-column-px: 49;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
      .span-#{$i} {
        width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
      }
      [class*="span-"].offset-#{$i} {
        margin-left: percentage($default-column-gutter-perc * $i) !important;
      }
      [class*="span-"].pull-right.offset-#{$i} {
        margin-right: percentage($default-column-gutter-perc * $i) !important;
        margin-left: 0 !important;
      }
    }
    [class*="span-"],
    [class*="span-"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }

  @include mq('desktop') {
    $default-gutter-px: 24;
    $default-screen-px: 1236;
    $default-column-px: 81;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
      .span-#{$i} {
        width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
      }
      .offset-#{$i} {
        margin-left: percentage($default-column-gutter-perc * $i) !important;
      }
      [class*="span-"].pull-right.offset-#{$i} {
        margin-right: percentage($default-column-gutter-perc * $i) !important;
        margin-left: 0 !important;
      }
    }
    [class*="span-"],
    [class*="span-"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }
}

.mobile-hide {
  display: none !important;
}
#fullpage .section {
  height: auto !important;
}
@include mq('tablet') {
  .mobile-hide {
    display: inherit !important;
  }
  .tablet-hide {
    display: none !important;
  }
}
@include mq('desktop') {
  .mobile-hide {
    display: inherit !important;
  }
  .tablet-hide {
    display: inherit !important;
  }
  .desktop-hide {
    display: none !important;
  }
}

.dd-s-section {
  padding-top: 40px;
  padding-bottom: 40px;
  @include mq('tablet') {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  @include mq('desktop') {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .dd-b-container {
    position: relative;
    @extend %clearfix;
    padding-left: 15px;
    padding-right: 15px;
    @include mq('tablet') {
      padding-left: 32px;
      padding-right: 32px;
    }
    @include mq('desktop') {
      max-width: 1280px;
      padding-left: 50px;
      padding-right: 50px;
      margin: 0 auto;
    }
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  padding: 0;
  font-weight: 600;
}

h1 {
  font-size: 32px;
  line-height: 36px;
}
h2 {
  font-size: 28px;
  line-height: 34px;
}
h3 {
  font-size: 22px;
  line-height: 26px;
}
h4, h5, h6 {
  font-size: 20px;
  line-height: 24px;
}
.dd-sub-heading {
  font-size: 20px;
  line-height: 24px;
}
blockquote {
  font-size: 20px;
  line-height: 24px;
}

.dd-btn {
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 8px 16px;
  border: none;
  color: $default;
  @include rounded(0);
  font-size: 15px;
  line-height: 24px;
  &:hover {
  }
  &.is-small {
    font-size: 14px;
    line-height: 22px;
  }
  &.is-large {
    font-size: 20px;
    line-height: 30px;
  }
}

button {
  width: 100%;
}

@include mq('tablet') {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .dd-btn {
    display: inline-block;
    min-width: 300px;
  }

  button {
    width: auto;
  }
}

@include mq('desktop') {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
  }
  h1 {
    font-size: 48px;
    line-height: 50px;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  .dd-btn {
    min-width: 422px;
  }
  button {
    min-width: 422px;
  }

  blockquote {
    font-size: 24px;
    line-height: 28px;
  }
}
