@import "variables";
@import "common";
@import "mixins";
.section{
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}
#fullpage{
  .dd-full-video{
    height: 100vh !important;
    position: relative;
    &:before{
      @include pseudo();
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.6);
    }
  }
}
.dd-full-video{
  width: 100%;
  height: 100vh !important;
  position: relative;
  video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  h1{
    @include center-absolute('both');
    img{
      height: 150px;
      width: auto;
    }
  }
  a{
    display: inline-block;
    position: absolute;
    bottom: 32px;
    left: 50%;
    z-index: 1;
    text-transform: uppercase;
    @include transform(translate(-50%,0));
    span{
      padding-top: 50px;
      position: relative;
      &:before{
        @include pseudo();
        width: 40px;
        height: 40px;
        background: url(../images/right-arrow.svg);
        background-size: 40px 40px;
        top: 0;
        left: 50%;
        @include transform(translate(-50%,0) rotate(90deg));
      }
    }
  }
}
.dd-b-container {
  position: relative;
  @extend %clearfix;
  padding-left: 15px;
  padding-right: 15px;
  @include mq('tablet') {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include mq('desktop') {
    max-width: 1280px;
    margin: 0 auto;
  }
}
footer{
  padding-top: 10px;
  height: 90px;
  text-align: center;
  background-color: #000000;
  @include mq('tablet'){
    text-align: left;
    line-height: 90px;
    padding-top: 0;

  }
  .footer-inner{
    padding: 0 15px;
    @include mq('tablet'){
      padding: 0 50px;
    }
    ul{
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      @include mq('tablet'){
        justify-content: flex-end;
        height: 90px;

      }
      li{
        display: inline-block;
        height: 40px;
        width: 40px;
        position: relative;
        margin-right: 15px;
        &:last-child{
          margin-right: 0;
        }
        a{
          display: inline-block;
          color: #ffffff;
          width: 40px;
          height: 40px;
          font-size: 16px;
          position: absolute;
          top: 0;
          left: 0;

          border: 2px solid #ffffff;
          @include rounded(50%);
          @include transition(0.3s,ease-in-out);
          i{
            @include center-absolute('both');
          }

          &:hover{
            color: #9f9f9f;
            border: 2px solid #9f9f9f;
            @include transition(0.3s,ease-in-out);
          }
        }
      }
    }
  }
}
.dd-s-contact{
  padding: 60px 0 30px;
  background-color: #1c1c1c;
  @include mq('tablet'){
    padding: 60px 0;
  }
  h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    @include mq('desktop'){
      font-size: 24px;
      margin-top: 0;

    }
  }
  h5{
    margin-bottom: 10px;
    line-height: 1.5em;
    font-size: 14px;
    @include mq('tablet'){
      margin-bottom: 30px;
      font-size: 16px;

    }
    @include mq('desktop'){
      font-size: 20px;
      margin-bottom: 35px;
    }
  }
  p{
    margin-bottom: 10px;
  }
  .dd-btn-download{
    display: inline-block;
    background-color: #ed1f2d;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    @include transition(0.4s,ease-in-out);
    &:hover{
      background-color: #d1232f;
      @include transition(0.4s,ease-in-out);

    }
    @include mq('tablet'){
      padding: 20px 25px;
      font-size: 16px;
      margin-bottom: 0;


    }
  }
  .dd-b-contact{
    .dd-contact{
      display: block;
      clear: both;
      width: 100%;
      @include mq('tablet'){
        margin-right: 90px;
        display: inline-block;
        width: auto;
        padding-top: 20px;

      }
      h3{
        margin-bottom: 10px;

      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .span-6{
    margin-bottom: 20px;
    @include mq('tablet'){
      margin-bottom: 0;
    }
  }
}